<web-app>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:com/uprr/netcontrol/starmap/rest/service/application-context.xml</param-value>
	</context-param>

	<listener>
		<listener-class>com.uprr.netcontrol.starmap.rest.service.context.utils.CleanUpJdbcDriverRegistrationContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>jersey-serlvet</servlet-name>
		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>com.apartment.management.services</param-value>
		</init-param>
		<init-param>
	  		<param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
	  		<param-value>com.sun.jersey.api.container.filter.PostReplaceFilter;com.sun.jersey.api.container.filter.LoggingFilter</param-value>
		</init-param>
		<init-param>
            <param-name>com.sun.jersey.config.feature.logging.DisableEntitylogging</param-name>
            <param-value>false</param-value>
        </init-param>        
			<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>jersey-serlvet</servlet-name>
		<url-pattern>/rest/v1/*</url-pattern>
	</servlet-mapping>

</web-app>